parameters:
  level: 8
  paths:
    - src

  #checkMissingIterableValueType: false

  excludePaths:
    - vendor

  reportUnmatchedIgnoredErrors: false

  ignoreErrors:
   # TODO: remove this when add in courses theory of returning types
   - '#has no return type specified#'
   - '#should return .* but returns#'
   - '#Anonymous function should have native return type#'