includes:
  - vendor/hexlet/phpstan-fp/extension.neon

parameters:
  level: 8
  paths:
    - src
    - bin

  excludePaths:
    - vendor

  reportUnmatchedIgnoredErrors: false

  phpstanFunctionalProgramming:
    disallowLoops: false
    disallowThrow: false
    disallowUnusedExpression: false
    disallowVariablesMutation: false
    disallowMutatingFunctions: false

  ignoreErrors:
    - '#Anonymous function should have native return type#'
    - identifier: missingType.iterableValue
